@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Hello @User.Identity.Name</h2>
    }
    else
    {
        <h2>Welcome</h2>
    }
</div>