@{
    ViewData["Title"] = "Sign out";
}

<div class="row">
    <div class="col-md-4">
        <h4>Are you sure you want to logout?</h4>
        <form asp-action="Profile" asp-controller="Authentication">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a class="btn btn-warning" asp-action="Index" asp-controller="Home">Home</a>
            </div>
        </form>
    </div>
</div>